[Desktop Entry]
Type=Application
Name=Photostory
GenericName=Photostory
Comment = Lets you take a photo each day and make them into a video.
Exec="/usr/share/photostory/app.py"
Icon=/usr/share/photostory/data/icon.svg
Terminal=false
Categories=Graphics
