[Desktop Entry]
Type=Application
Name=Photostory
Comment=Lets you take a photo each day and make them into a video.
Exec=photostory
Icon=photostory
Terminal=false
Categories=AudioVideo;Video
